<h1>Welcome! Please sign up</h1>

<form id="signup" name="signup" method="POST" action="/users/register">
    <div>
        <label htmlFor="name">First Name: </label>
        <input type="text" name="firstName" required>
    </div>
    <div>
        <label htmlFor="name">Last Name: </label>
        <input type="text" name="lastName" required>
    </div>
    <div>
        <label v="name">Email: </label>
        <input type="text" name="email" required>
    </div>
    <div>
        <label htmlFor="usertype">User Type: </label>
        <div>
            <input type="radio" name="usertype" value="child">Child<br />
            <input type="radio" name="usertype" value="parent">Parent<br />
        </div>
    </div>
    <div>
        <label htmlFor="createfamily">Create New Family: </label>
        <input type="radio" name="createfamily" value="true">
    </div>
    <div>
        <label htmlFor="familycode">Family Code: </label>
        <input type="text" name="familycode">
    </div>
    <div>
        <label htmlFor="name">Password: </label>
        <input type="text" name="password" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
