 <div>
<h1>To Dos:</h1>

{{#each todos}}
<h3>{{todoId}}: {{userId}}</h3>
{{/each}}

    <h1>Add a To Do Item!</h1>
<div>
<form id="todos" name="todos" method="POST" action="/users/todos">
    <div>
        <label htmlFor="todoName">To Do Name: </label>
        <input type="text" name="todoName"></input>
    </div>
    <div>
        <label htmlFor="todoDetails">To Do Details: </label>
        <input type="text" name="todoDetails"></input>
    </div>
    <div>
        <label htmlFor="dueDate">Due Date: </label>
        <input type="text" name="dueDate"></input>
    </div>
    <div>
        <button type="submit">Create To Do</button>
    </div>
    
</form>
</div>
</div>